<nav class="demo-nav">
    <a href="#" class="site-logo">NAVIGATION</a>
    <input type="checkbox" name="menu-toggle" id="menu-toggle">
    <label for="menu-toggle">
        <div></div>
        <div></div>
    </label>
    <ul id="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
