{% macro data(title, items) %}
<nav class="demo-nav">
    <a href="#" class="site-logo">{{ title }}</a>
    <input type="checkbox" name="menu-toggle" id="menu-toggle">
    <label for="menu-toggle">
        <div></div>
        <div></div>
    </label>
    <ul id="menu">
        {% for item in items %}
        <li><a href="{{ item.path }}">{{ item.label }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}
