<div class="dark-mode-control">
    <input type="checkbox" name="dark-mode-toggle" id="dark-mode-toggle">
    <label for="dark-mode-toggle">Turn <span id="on">on</span><span id="off">off</span> dark mode</label>
    <!--  indicators  -->
    <img src="/assets/moon-icon.png" id="moon" alt="A simple line drawing of a crescent moon. Represents 'dark mode'.">
    <img src="/assets/sun-icon.png" id="sun" alt="A simple line drawing of a shining sun. Represents 'light mode'.">
</div>