@use './variables' as var;

.component-demo {
  margin-top: var.$size-900 !important;
  padding: var.$size-600;
  background-color: #fff;
  border-radius: .125rem;
  box-shadow: 0 .25rem .5rem .25rem rgba(var.$clr--black-out, .12);

  > * + * {
    margin-top: var.$size-600;
  }
}