@use './variables' as var;

.component-demo {
  margin-top: var.$size-900 !important;
  padding: var.$size-600;
  background-color: #fff;
  border-radius: .125rem;
  box-shadow: var.$shadow\base;

  > * + * {
    margin-top: var.$size-600;
  }
}