@use './variables' as var;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var.$clr--australium-gold\fade;
}

body {
  background-color: var.$clr--ghost-white;
}

main {
  width: min(100%, 45rem);
  margin-inline: auto;
  padding-block: var.$size-900;
}

section {
  + & {
    margin-top: var.$size-900;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var.$font--sans-serif;
  font-weight: 900;
  color: var.$clr--black-out;
}

h1 {
  font-size: var.$size-700;
  color: var.$clr--love-letter;
  text-shadow:
    .25rem .25rem 0 var.$clr--ghost-white,
    -.25rem -.25rem 0 var.$clr--ghost-white,
    .5rem .5rem 0 var.$clr--aero\fade,
    -.5rem -.5rem 0 var.$clr--love-letter\fade,
    1rem 1rem 1.75rem rgba(var.$clr--love-letter, .4),
    -1rem -1rem 1.75rem rgba(var.$clr--aero, .4);
  &.large-title {
    font-size: var.$size-900;
    + * {
      margin-top: var.$size-900;
    }
  }

  + * {
    margin-top: var.$size-700;
  }
}

h2 {
  font-size: var.$size-500;
  text-transform: uppercase;
  max-width: 45ch;
  line-height: 1.4;
  + * {
    margin-top: var.$size-500;
  }
}

p, a {
  color: var.$clr--black-out;
  font-family: var.$font--monospace;
  line-height: 1.7;
  max-width: 65ch;
}

p {
  &.lead {
    font-style: italic;
  }

  + * {
    margin-top: var.$size-500;
  }
}

a {
   color: var.$clr--love-letter;
}

ul {
  list-style-type: none;

  &.block-list {
    li {
      padding-block: var.$size-600;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

section.dark-theme {
  padding: var.$size-600;
  background-color: var.$clr--black-out;
  color: var.$clr--ghost-white;
  * {
    color: currentColor;
  }
}
