$love-letter: #E9658F;
$love-letter\fade: rgba($love-letter, .32);
$love-letter\dark: darken($love-letter, 10%);

$coffee-brick: #710C10;
$coffee-brick\fade: rgba($coffee-brick, .24);

$australium-gold: #EBB93E;
$australium-gold\fade: rgba($australium-gold, .32);

$aero: #80B8E9;
$aero\fade: rgba($aero, .48);

$leticiaz: #98BC76;
$leticiaz\fade: rgba($leticiaz, .32);

$skeletors-cape: #7637A0;
$skeletors-cape\fade: rgba($skeletors-cape, .24);

$black-out: #222;
$black-out\fade: rgba($black-out, .24);

$ghost-white: #F8F8FD;

$snow: #FEF8F8;
