@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$sans-serif: 'Figtree', Helvetica, Arial, sans-serif;
$cursive: 'Oleo Script Swash Caps', cursive;
$monospace: 'Fira Code', monospace;
