@use '../../../styles/variables' as var;

.pill {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: max-content;
  padding: var.$size-200 var.$size-400;
  border: .125rem solid var.$clr--love-letter;
  box-shadow:
    -.25rem -.25rem 0 0 var.$clr--ghost-white,
    .25rem .25rem 0 0 var.$clr--ghost-white,
    -.5rem -.5rem 0 0 var.$clr--love-letter\fade;
  transition:
    border-color var.$duration\base var.$timing-function,
    box-shadow var.$duration\base var.$timing-function,
    background var.$duration\base var.$timing-function;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:
      color var.$duration\base var.$timing-function,
      border-color var.$duration\base var.$timing-function;

    &.pill-code {
      margin-left: var.$size-400;
      padding-left: var.$size-400;
      border-left: .125rem solid var.$clr--love-letter\fade;
    }
  }

  &:hover {
    background: linear-gradient(to bottom, lighten(var.$clr--love-letter, 3%), var.$clr--love-letter);
    border-color: var.$clr--love-letter\dark;
    box-shadow:
      -.25rem -.25rem 0 0 var.$clr--ghost-white,
      .25rem .25rem 0 0 var.$clr--ghost-white,
      .5rem .5rem 0 0 var.$clr--aero\fade;

    a {
      color: #fff;
      &.pill-code {
        border-color: var.$clr--love-letter\dark;
      }
    }
  }
}