{% macro render(data, options) %}
<div class="link {{ 'published' if options.active }}">
    <a href="{{data.url}}" class="link-name">
        {{ data.name }}
    </a>

    <a href="{{data.remote}}" class="link-code" target="_blank" rel="nofollow noopener noreferrer">
        {% include 'icons/code-icon.njk' %}
    </a>
</div>
{% endmacro %}